<h1><center>Fall 2022 Data Science Intern Challenge</center></h1> 
<h2><center>Yazdan Asadi</center></h2>

<b>Question 1</b>: Given some sample data, write a program to answer the following: click here to
access the required data set <br>

On Shopify, we have exactly 100 sneaker shops, and each of these shops sells only one
model of shoe. We want to do some analysis of the average order value (AOV). When
we look at orders data over a 30 day window, we naively calculate an AOV of $3145.13.
Given that we know these shops are selling sneakers, a relatively affordable item,
something seems wrong with our analysis.

In [52]:
import pandas as pd

### Preprocessing Data/Useful informations

In [53]:
data = pd.read_csv("2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv",sep= ',')

In [54]:
print("Data Overview: \n",data.head(5))
print("=="*50)
print("Number of Rows and Columns:",data.shape)
print("=="*50)
print("Data types and non-null values:")
print(data.info())
print("=="*50)
print("Checking Missing Values in Dataset", data.isna().sum())

Data Overview:
    order_id  shop_id  user_id  order_amount  total_items payment_method  \
0         1       53      746           224            2           cash
1         2       92      925            90            1           cash
2         3       44      861           144            1           cash
3         4       18      935           156            1    credit_card
4         5       18      883           156            1    credit_card

            created_at
0  2017-03-13 12:36:56
1  2017-03-03 17:38:52
2   2017-03-14 4:23:56
3  2017-03-26 12:43:37
4   2017-03-01 4:35:11
====================================================================================================
Number of Rows and Columns: (5000, 7)
====================================================================================================
Data types and non-null values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        5000 non-null   int64
 1   shop_id         5000 non-null   int64
 2   user_id         5000 non-null   int64
 3   order_amount    5000 non-null   int64
 4   total_items     5000 non-null   int64
 5   payment_method  5000 non-null   object
 6   created_at      5000 non-null   object
dtypes: int64(5), object(2)
memory usage: 273.6+ KB
None
====================================================================================================
Checking Missing Values in Dataset order_id          0
shop_id           0
user_id           0
order_amount      0
total_items       0
payment_method    0
created_at        0
dtype: int64

### Problem definition

<b> a)Think about what could be going wrong with our calculation. Think about a better
way to evaluate this data.</b> <br>
<b> b)What metric would you report for this dataset?</b> Sum of Total items and Order amounts <br> 
<b> c)What is its value?<b> <br>

First we need to find the Avg Order Value, by dividing sum of total order by total items.

In [55]:
total_order = data['order_amount'].sum()
total_items = data['total_items'].sum()

In [56]:
print("Sum of Total Order: ",total_order)
print("Sum of Total Items: ",total_items)
print("Average Order Value:", total_order/total_items)

Sum of Total Order:  15725640
Sum of Total Items:  43936
Average Order Value: 357.92152221412965

dividng total order/ wrong calculation leads to the fact that Data analyst used the total number of row instead of Sum of total items for AOV.

In [57]:
print("Reverse Engineering Solution:", round(total_order/3145.13))
print("Wrong Calculation:", total_order/5000)

Reverse Engineering Solution: 5000
Wrong Calculation: 3145.128

------------------------------------------------------------------------------------------------------------------------------

<b>Question 2</b>: For this question youâ€™ll need to use SQL. Follow this link to access the data set
required for the challenge. Please use queries to answer the following questions. Paste your
queries along with your final numerical answers below. <br>

b. What is the last name of the employee with the most orders?
c. What product was ordered the most by customers in Germany?

#### a. How many orders were shipped by Speedy Express in total? 54
We Check the ShipperID of Speedy Express: '1'. Then count the number of orders by 1 in Orders.

<b>Query: <br> </b>
SELECT COUNT(ShipperID) FROM Orders WHERE ShipperID = 1;

#### b. What is the last name of the employee with the most orders? Peacock, 40
Because there is no possiblity to use JOIN tables in the website, we first need to find the EmployeeID with the most orders by ORDER BY COUNT() desc, then we can select the LastName with the value of 4 in the Employees Table.

<b>Query: <br> </b>
SELECT EmployeeID, COUNT(*) FROM Orders GROUP BY EmployeeID ORDER BY COUNT(*) desc; <br>
SELECT LastName from Employees WHERE EmployeeID = 4

#### c. What product was ordered the most by customers in Germany? Camembert Pierrot, 12000

For this question we need to use JOIN function on three tables (Customers, Orders, OrderDetail), then find the order with higher quantity for specific Customer Where has the 'Germany' value.

CREATE VIEW OrdersProd AS SELECT Orders.OrderID, Customers.Country, OrderDetails.Quantity, Products.ProductName FROM Orders, OrderDetails JOIN Customers ON Orders.CustomerID=Customers.CustomerID JOIN Products ON OrderDetails.ProductID=Products.ProductID WHERE Country='Germany';

CREATE VIEW OrdersProd AS SELECT ProductName, Quantity, COUNT(*) as 'Orders' FROM OrdersProd GROUP BY ProductName;

SELECT ProductName, (Quantity * Orders) AS Total FROM OrdersProd ORDER BY Total desc;